.profile-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ant-modal-footer {
    display: none;
}

.create-btn {
    margin-top: 10px;   
    margin-bottom: 10px;
}

.ant-collapse-header {
    display: flex;
    align-self: center;
}

.ant-collapse-expand-icon {
    display: flex;
    align-items: center;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
.create-blog-modal{
    .ant-btn{
        width: 100%;
    }
}
.blog-wrapper{
    display: flex;
    justify-content: space-between;
}
.blog-actions{
    display: flex;
    gap: 8px;
}
.title-style:hover{
    color: #1677ff;
    cursor: pointer;
    font-size: 32px;
}
@media only screen and (max-width: 960px) {
    .profile-container {
        max-width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}