*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 970px;
    margin: auto;
}
@media only screen and (min-width: 300px) {
    .container{
        max-width: 350px;
        margin: auto;
    }
}
