.blog-items{
    border: 1px solid steelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
}
.items{
    display: flex;
    flex-direction: column;
    max-height: 100px;
    overflow: hidden;
}
.loader{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ant-card-meta-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Adjust the number of lines to be shown */
    text-overflow: ellipsis;
}
.ant-card-body{
    cursor: pointer;
    border-radius: 50px;
}
.ant-card-body:hover{
    border: 1px solid steelblue;
}

