.form-div-login{
    max-width: 350px;
    margin: auto;
    margin-top: 15%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 60px 40px;
    border-top: 8px solid #1677ff;
    .ant-btn{
        width: 100%;
    }
}
:where(.css-dev-only-do-not-override-k7429z).ant-col-offset-8{
    margin-inline-start: 0px;
}
.ant-form-item-control-input{
    display: none;
}
.forget-pass-btn{
    display: flex;
    justify-content: flex-end;
}
